*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    flex-direction: column;
    background-color: brown;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_header{
    color: white;
    font-style: italic;
    font-size: 3rem;
    border-bottom:  5px dotted white;
    margin-bottom: 2rem;
}